<!-- <div class="footer">
      
    <div class="buttons">
        <button id="button1">Menu</button>
        <button id="button2" (click)="goToGoogleMaps()">Directions</button>
        <button id="button3" (click)="contactUs()">Contact</button>
    </div>

    <div class="socialMediaLogos">
        <p>Follow Us</p>
        <a href="#">
            <img src="/assets/img/insta.jpg" alt="Facebook Link" height="42" width="42">
        </a>

        <a href="https://www.facebook.com/The-Buzzsaw-Diner-111186280378111/?modal=admin_todo_tour" target="_blank">
            <img src="/assets/img/facebook.jpg" alt="Instagram Link" height="42" width="42">
        </a>
    </div>


    <div id="dinerLogo">
        <img src="assets/img/buzzsawdinerlogob&w.png" alt="The Buzzsaw Diner Logo">
    </div>
    
</div> -->

<div class="footer">

    <div class="buttons">
        <button id="button1">Menu</button>
        <button id="button2" (click)="goToGoogleMaps()">Directions</button>
        <button id="button3" (click)="contactUs()">Contact Us</button>
    </div>

    <div class="socialMediaLogos">
        <p>Follow Us</p>
        <a href="#">
            <img src="/assets/img/insta.jpg" alt="Facebook Link" height="42" width="42">
        </a>

        <a href="https://www.facebook.com/The-Buzzsaw-Diner-111186280378111/?modal=admin_todo_tour" target="_blank">
            <img src="/assets/img/facebook.jpg" alt="Instagram Link" height="42" width="42">
        </a>
    </div>


</div>
