.footer{
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-decoration: none;
    background-color: black;
    height: 90px;
    padding-top: 25px; 
    padding-bottom: 100px;  
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.buttons{
    float: left;
}

.socialMediaLogos{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
    float: right;
    font-size: 22px;
}


