.texturedDiv{
    /* background-image: url("/assets/img/240_F_285857211_1KGddJqMdKSXpMTNb2jwWCI9aPaqwMtn (1).jpg");
    height: 90%; 
    width: 100%;
    position: absolute;
    left: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.wrapper{
    padding: 100px;
    text-align: center;
    display: flex;
}

img{
    object-fit: cover;
    object-position: top left;
    height: 400px;
    width: 450px;
}

h2{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    margin:0;
    color: #252424;
    font-weight: 400;
}

p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #252424;
}

