<div class="wrapper">

    <div id="body">
        <h2>Meet Paul and Lois</h2>
        <p>
            Growing up on The Hill in St. Louis, some of Paul's fondest memories are 
            the smells of homemade Italian staples filling the streets, 
            local shop owners joyfully handing out samples. 
            His dream is to bring those flavors a little closer to your home,
            so that you can sample a slice of The Hill.
        <p>
            Lois has always had an affinity towards people, working as a nurse for 30 years
            has only made it grow stronger. Although you may not see her every time you stop in,
            if you happen to catch her, you are in for a rare treat.
        </p>
        <p>
            Together, Paul and Lois work hard to bring Italian hospitality to Desoto, MO. 
        </p>

    </div>

    <div id=img>
        <img src="assets/img/owners.jpeg" alt="Paul and Lois Cella, Owners of The Buzzsaw Diner">
    </div>

</div>
