<div class="wrapper">

    <div id="body">
        <h2>Here is the header</h2>
        <p>fadglhkfjhadskjfhdaskjfghkjsadhfkjsadhfkjadshgkjhgkjhajfghakjhgfkjashfdjh
            hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
            hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
            hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
            hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
            hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
            hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
        </p>
    </div>

    <div id=img>
        <img src="assets/img/owners.jpeg" alt="Paul and Lois Cella, Owners of The Buzzsaw Diner">
    </div>

</div>
