<div class="coloredDiv">
    <div class="wrapper">

        <div id=img>
            <img src="assets/img/burgerimage.jpg" alt="Picture of 'The Burger' on the grill">
        </div>
        
        <div id="body">
            <h2>Italian Inspired Diner Classics, Done Right</h2>
            <p>
                Solid, no-frills cooking of traditional diner dishes and Italian specialities. 
                The Buzzsaw Diner serves good food, at good prices, ensuring the whole family goes home full. 
            </p>
            <p>
                Order at the window, listen for your name, and don't forget to clear your table!
            </p>
        </div>

    </div>
</div>
