<div class="coloredDiv">
    <div class="wrapper">

        <div id=img>
            <img src="assets/img/burgerimage.jpg" alt="Picture of 'The Burger' on the grill">
        </div>
        
        <div id="body">
            <h2>Italian Inspired Diner Classics</h2>
            <p>fadglhkfjhadskjfhdaskjfghkjsadhfkjsadhfkjadshgkjhgkjhajfghakjhgfkjashfdjh
                hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
                hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
                hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
                hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
                hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
                hadksfhlasdkfjlaksjflkasjfglafsjglkjaflgjlasjglkdjaglksdjalgkjdalsgjladsjglasd
            </p>
        </div>

    </div>
</div>
