.coloredDiv{
    background-color: #6fa3a2;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 600px;
    margin-top: 100px;
    left: 50%;
}

.wrapper{
    padding: 100px;
    text-align: center;
    display: flex;
}

img{
    object-fit: cover;
    object-position: bottom left;
    height: 400px;
    width: 450px;
}

h2{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    margin:0;
    color: #252424;
    font-weight: 400;

}

p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #252424;
}

