.descriptionHeader {
    padding-top: 800px;
    text-align: center;  
}

#italianInspired {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin:0;
    color: #252424;
    font-weight: 400;
}

/* #doneRight{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin: 0;
    color: #252424;
    font-weight: 400;

} */

.descriptionBody{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    padding: 0px 200px 0px;
}